body { 
    background-color: gray;
}

h3 { 
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif
}


#introduction > span {
    color: brown;
}

.imdb_link:hover { 
    color: yellow;
}

.imdb_link:visited { 
    color: green;
}

.imdb_link:active { 
    color: blueviolet;
}

.imdb_link {
    text-decoration: none;
}

#list .list-item > span { 
    font-style: italic;
}

#list .list-item  { 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}